## REGRESSION CASE
### We need to predict "EstimatedSalary" based on input parameters

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [25]:
data = pd.read_csv("../data/Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [26]:
# Preprocess data
data = data.drop(columns=["RowNumber", "CustomerId", "Surname"], axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [27]:
# Encoding "Gender" using Label Encoder
label_encoder_gender_regression = LabelEncoder()
data["Gender"] = label_encoder_gender_regression.fit_transform(data["Gender"])

In [28]:
# OHE of "Geography"
onehot_encoder_geo_regression = OneHotEncoder()
geo_encoded_regression = onehot_encoder_geo_regression.fit_transform(data[["Geography"]]).toarray()
geo_encoded_regression_df = pd.DataFrame(geo_encoded_regression, columns=onehot_encoder_geo_regression.get_feature_names_out(["Geography"]))
geo_encoded_regression_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [29]:
# Combine OHE columns with original data
data = data.drop(columns=["Geography"], axis=1)
data = pd.concat([data, geo_encoded_regression_df], axis=1)
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [33]:
# Split the data into dependent and independent features
X = data.drop('EstimatedSalary' , axis=1)
y = data['EstimatedSalary']

# Train test split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

# Scale the independent features
scaler_regression = StandardScaler()
X_train = scaler_regression.fit_transform(X_train)
X_test = scaler_regression.transform(X_test)

In [34]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]], shape=(8000, 12))

In [36]:
# Save the encoders and scaler
with open('../models/encoders/label_encoder_gender_regression.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender_regression, file) 

with open('../models/encoders/onehot_encoder_geo_regression.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo_regression, file) 

with open('../models/encoders/scaler_regression.pkl', 'wb') as file:
    pickle.dump(scaler_regression, file)

In [37]:
# ANN model with regression
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1, activation='linear')  # Linear activation for regression
])

c:\Dev\Personal Projects\bank-churn-prediction-ann\venv\Lib\site-packages\keras\src\layers\core\dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [38]:
# Compiling ANN model
model.compile(optimizer="adam", loss="mean_absolute_error", metrics=["mae"])

model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [39]:
# Setting up logs
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Setup TensorBoard
log_dir = "../logs_regression/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [40]:
# Setup EarlyStopping
early_stopping_feedback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [41]:
# Train the ANN model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[tensorboard_callback, early_stopping_feedback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100390.9062 - mae: 100390.9062 - val_loss: 98559.3359 - val_mae: 98559.3359
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 99752.2422 - mae: 99752.2422 - val_loss: 97227.9453 - val_mae: 97227.9453
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 97391.5156 - mae: 97391.5156 - val_loss: 93710.9453 - val_mae: 93710.9453
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 92645.9688 - mae: 92645.9688 - val_loss: 87750.7578 - val_mae: 87750.7578
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 85611.3828 - mae: 85611.3828 - val_loss: 79924.3125 - val_mae: 79924.3125
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 77114.4922 - mae: 77114.4922 - val_loss: 71432.0000 - val_mae: 71432.0000
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 68529.0859 - mae: 68529.0859 - val_loss: 63561.7695 - val_mae: 63561.7695
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 61134.3086 - mae: 61134.3086 - val_loss: 57545.3711 - val_mae: 57545.3711
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 55901.2148 - mae: 55901.2148 - val_loss: 53670.6992 - val_mae: 53670.6992
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 52759.3242 - mae: 52759.3242 - val_loss: 51742.9062 - val_mae: 51742.9062
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51217.2031 - mae: 51217.2031 - val_loss: 51001.0742 - val_mae: 51001.0742
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50602.4922 - mae: 50602.4922 - val_loss: 50750.4062 - val_mae: 50750.4062
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50352.3555 - mae: 50352.3555 - val_loss: 50671.1914 - val_mae: 50671.1914
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50233.6367 - mae: 50233.6367 - val_loss: 50623.7969 - val_mae: 50623.7969
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50165.6133 - mae: 50165.6133 - val_loss: 50587.1211 - val_mae: 50587.1211
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50116.2344 - mae: 50116.2344 - val_loss: 50547.2539 - val_mae: 50547.2539
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50072.7266 - mae: 50072.7266 - val_loss: 50518.7734 - val_mae: 50518.7734
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50030.3711 - mae: 50030.3711 - val_loss: 50500.6328 - val_mae: 50500.6328
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49994.6758 - mae: 49994.6758 - val_loss: 50475.5586 - val_mae: 50475.5586
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49964.2227 - mae: 49964.2227 - val_loss: 50459.4727 - val_mae: 50459.4727
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49930.8359 - mae: 49930.8359 - val_loss: 50434.2383 - val_mae: 50434.2383
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49908.3633 - mae: 49908.3633 - val_loss: 50414.1914 - val_mae: 50414.1914
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49882.5430 - mae: 49882.5430 - val_loss: 50399.2891 - val_mae: 50399.2891
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49859.4297 - mae: 49859.4297 - val_loss: 50387.0469 - val_mae: 50387.0469
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49838.8672 - mae: 49838.8672 - val_loss: 50378.3867 - val_mae: 50378.3867
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49818.3008 - mae: 49818.3008 - val_loss: 50365.3555 - val_mae: 50365.3555
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49799.5742 - mae: 49799.5742 - val_loss: 50359.2656 - val_mae: 50359.2656
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49782.5234 - mae: 49782.5234 - val_loss: 50351.2148 - val_mae: 50351.2148
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49767.5977 - mae: 49767.5977 - val_loss: 50340.1484 - val_mae: 50340.1484
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49752.1719 - mae: 49752.1719 - val_loss: 50334.2383 - val_mae: 50334.2383
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49734.1875 - mae: 49734.1875 - val_loss: 50330.7383 - val_mae: 50330.7383
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49721.5312 - mae: 49721.5312 - val_loss: 50332.7383 - val_mae: 50332.7383
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49709.2695 - mae: 49709.2695 - val_loss: 50333.2461 - val_mae: 50333.2461
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49696.6250 - mae: 49696.6250 - val_loss: 50327.9805 - val_mae: 50327.9805
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49681.9062 - mae: 49681.9062 - val_loss: 50319.9141 - val_mae: 50319.9141
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49669.7617 - mae: 49669.7617 - val_loss: 50327.0859 - val_mae: 50327.0859
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49657.5312 - mae: 49657.5312 - val_loss: 50316.8555 - val_mae: 50316.8555
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49647.1602 - mae: 49647.1602 - val_loss: 50316.8867 - val_mae: 50316.8867
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49637.3477 - mae: 49637.3477 - val_loss: 50312.0586 - val_mae: 50312.0586
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49627.4375 - mae: 49627.4375 - val_loss: 50311.0352 - val_mae: 50311.0352
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49617.7148 - mae: 49617.7148 - val_loss: 50305.7891 - val_mae: 50305.7891
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49608.7109 - mae: 49608.7109 - val_loss: 50304.0312 - val_mae: 50304.0312
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49602.7070 - mae: 49602.7070 - val_loss: 50311.6211 - val_mae: 50311.6211
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49593.5195 - mae: 49593.5195 - val_loss: 50309.5352 - val_mae: 50309.5352
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49582.2852 - mae: 49582.2852 - val_loss: 50302.3477 - val_mae: 50302.3477
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49577.8828 - mae: 49577.8828 - val_loss: 50308.3906 - val_mae: 50308.3906
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49568.5508 - mae: 49568.5508 - val_loss: 50301.1562 - val_mae: 50301.1562
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49559.8359 - mae: 49559.8359 - val_loss: 50299.1484 - val_mae: 50299.1484
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49554.3633 - mae: 49554.3633 - val_loss: 50300.2266 - val_mae: 50300.2266
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49549.6914 - mae: 49549.6914 - val_loss: 50315.6289 - val_mae: 50315.6289
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49542.1094 - mae: 49542.1094 - val_loss: 50292.8359 - val_mae: 50292.8359
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49533.2773 - mae: 49533.2773 - val_loss: 50304.0000 - val_mae: 50304.0000
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49527.8477 - mae: 49527.8477 - val_loss: 50308.7422 - val_mae: 50308.7422
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49519.2695 - mae: 49519.2695 - val_loss: 50303.5156 - val_mae: 50303.5156
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49517.3711 - mae: 49517.3711 - val_loss: 50309.3633 - val_mae: 50309.3633
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49512.8164 - mae: 49512.8164 - val_loss: 50312.6992 - val_mae: 50312.6992
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49505.7617 - mae: 49505.7617 - val_loss: 50318.0938 - val_mae: 50318.0938
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49498.5234 - mae: 49498.5234 - val_loss: 50315.5898 - val_mae: 50315.5898
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49493.1289 - mae: 49493.1289 - val_loss: 50317.0000 - val_mae: 50317.0000
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49484.0352 - mae: 49484.0352 - val_loss: 50330.5117 - val_mae: 50330.5117
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49484.6992 - mae: 49484.6992 - val_loss: 50333.5117 - val_mae: 50333.5117

In [46]:
%load_ext tensorboard

%tensorboard --logdir ../logs_regression/fit

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

Reusing TensorBoard on port 6007 (pid 19988), started 0:00:06 ago. (Use '!kill 19988' to kill it.)

In [47]:
# Evaluate model on test data
test_loss, test_mae = model.evaluate(X_test, y_test)
print(f"Test MAE: {test_mae}")

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 862us/step - loss: 50292.8359 - mae: 50292.8359
Test MAE: 50292.8359375

In [48]:
# Saving model
model.save('../models/ann/salary_ann_model_regression.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.